@using PagedList.Mvc
@model PagedList.IPagedList<PatrinWebLabs.Models.Defects>
@{
    ViewBag.Title = "Дефекты";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "myTable"
    };
    List<string> workplaces = new List<string>();
    foreach (var b in ViewBag.Notifications)
    {
        workplaces.Add(b);
    }

}
<!DOCTYPE html>


<head>
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBJsJa7BC0EFyKuJJk21wJxq8wq5rHyaGA",
            authDomain: "oiproject-e039e.firebaseapp.com",
            databaseURL: "https://oiproject-e039e.firebaseio.com",
            projectId: "oiproject-e039e",
            storageBucket: "oiproject-e039e.appspot.com",
            messagingSenderId: "48045347697"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet"
          type="text/css" />
    <script type="text/javascript">
        var align;
        $(document).ready(function () {
            $("#update").click(function () {
                var div = document.getElementById("table");
                var test = {
                    'Str': align.split(",")[0],
                    'Str1': align.split(",")[5]
                };
                $.ajax({
                    type: "POST",
                    url: "/Home/AjaxUpdateDefect",
                    data: JSON.stringify(test),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        location.reload();
                    }
                });
            });
        });
        $(document).ready(function () {
            $('table tr').click(function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $(this).addClass('active').siblings().removeClass('active');
                }
            });
        });
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                var img = document.getElementById('sendmail');
                align = $(this).data("href");
                img.href = 'mailto:patrin48rus@yandex.ru?subject=Несоответствие&body=' + 'Дефект:' + align.split(",")[0] + ' %0D%0AЛиния:' + align.split(",")[1] + ' %0D%0AРабочее место:' + align.split(",")[2] + ' %0D%0AСмена:' + align.split(",")[3] + ' %0D%0AОписание:' + align.split(",")[4] + ' %0D%0AДата:' + align.split(",")[5] + ' %0D%0A(Не забудьте приложить фотографию несоответствия!)' + '&cc=';

            });
        });
    </script>
    <style>
        /*Всплывающий скриншот*/
        .thumbnail {
            position: relative;
            z-index: 0;
        }

            .thumbnail:hover {
                background-color: #E3F2FD;
                z-index: 50;
            }

            .thumbnail span {
                position: absolute;
                background-color: #E3F2FD;
                padding: 5px;
                left: -1000px;
                border: 1px solid white;
                visibility: hidden;
                text-decoration: none;
                border-radius: 4px 4px 4px 4px;
                -moz-border-radius: 4px 4px 4px 4px;
                -webkit-border-radius: 4px 4px 4px 4px;
            }

                .thumbnail span img {
                    width: 400px;
                    height: 622px;
                    border-width: 0;
                    padding: 2px;
                }

            .thumbnail:hover span {
                visibility: visible;
                top: 0;
                left: 60px;
            }

        body {
            background: #E3F2FD;
        }

        p.dline {
            line-height: 1.5;
        }

        P {
            line-height: 0.9em;
        }

        div.block {
            position: relative;
        }
    </style>
</head>


<body>
    <div class="Modal1">
        <!-- Modal Contents -->
        <div id="Modal1" class="modal fade">
            <!-- class modal and fade -->
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- modal header -->
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Оповещение</h4>
                    </div>
                    <form method="post" action="~/Home/Notification">
                        <div class="modal-body">
                            <p class="dline">
                                <div class="bs-example">
                                    @Html.DropDownList("Type", new SelectList(new string[] { "Дефект(CSQ)", "Информация", "Экстренное" }), new { @class = "form-control" })
                                </div>
                            </p>
                            <p class="dline">
                                <div class="bs-example">
                                    <input type="text" name="inputDescription" class="form-control" placeholder="Описание" id="inputDescription">
                                </div>
                            </p>
                            <p class="dline">
                                <div class="bs-example">
                                    @Html.DropDownList("Notifications", new SelectList(workplaces), new { @class = "form-control" })
                                </div>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <!-- modal footer -->
                            <div align="left">
                                <p class="dline"><button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-minus-sign"></span> Отменить</button></p>
                                <p class="dline"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-flag"></span> Отправить оповещение</button></p>

                            </div>
                        </div>
                    </form>
                </div> <!-- / .modal-content -->
            </div> <!-- / .modal-dialog -->
        </div><!-- / .modal -->
    </div>
    <form role="search" class="navbar-form navbar-right" style="padding-top:10px">
        @*<div class="form-group">
                <span class="glyphicon glyphicon-search" style="padding-right:3px"></span><input type="text" placeholder="Поиск дефекта..." class="form-control">
            </div>*@
    </form>
    <div class="row" style="padding-top:15px">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="panel-group">
                <div class="panel panel-danger">
                    <div class="panel-heading">Дефекты - общий список</div>
                    <table id="myTable" table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Фотография</th>
                                <th>Наименование дефекта</th>
                                <th>Линия</th>
                                <th>Рабочее место</th>
                                <th>Смена</th>
                                <th>Описание</th>
                                <th>Дата</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        @foreach (var data in Model)
                        {
                            <tbody>
                                <tr class='clickable-row' id="table" data-href='@data.DefectName, @data.DefectLine, @data.DefectNameWorkPlace, @data.DefectTurno, @data.DefectDescription, @data.DefectDate'>
                                    @if (@data.DefectImage != "")
                                    {
                                        <td><a class="thumbnail" href="@Html.DisplayFor(modelItem => data.DefectImage)"><img src="@Html.DisplayFor(modelItem => data.DefectImage)" width="50" height="50" border="0" /><span><img src="@Html.DisplayFor(modelItem => data.DefectImage)" />Отметка @data.DefectName</span></a></td>
                                    }
                                    else
                                    {
                                        <td><a class="thumbnail" href=""><img src="http://komplektant.ru/uploads/catalogkomplektant/product/images/1114/1140/original.png?_=3018634914" width="50" height="50" border="0" /><span><img src="http://komplektant.ru/uploads/catalogkomplektant/product/images/1114/1140/original.png?_=3018634914" />Фото отсутствует</span></a></td>

                                    }
                                    <td>@Html.DisplayFor(modelItem => data.DefectName)</td>
                                    <td>@Html.DisplayFor(modelItem => data.DefectLine)</td>
                                    <td>@Html.DisplayFor(modelItem => data.DefectNameWorkPlace)</td>
                                    <td>@Html.DisplayFor(modelItem => data.DefectTurno)</td>
                                    <td>@Html.DisplayFor(modelItem => data.DefectDescription)</td>
                                    <td>@Html.DisplayFor(modelItem => data.DefectDate)</td>
                                    @if (@data.DefectStatus == "На линии")
                                    {
                                        <td class="danger">@Html.DisplayFor(modelItem => data.DefectStatus)</td>
                                    }
                                    @if (@data.DefectStatus == "На ремзоне")
                                    {
                                        <td class="warning">@Html.DisplayFor(modelItem => data.DefectStatus)</td>
                                    }
                                    @if (@data.DefectStatus == "Подтвержден")
                                    {
                                        <td class="success">@Html.DisplayFor(modelItem => data.DefectStatus)</td>
                                    }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="text-align: center;">
            @Html.PagedListPager(Model, page => Url.Action("Defects", new { page }),
           new PagedListRenderOptions
           {
               LinkToFirstPageFormat = "<<",
               LinkToPreviousPageFormat = "Назад",
               LinkToNextPageFormat = "Вперед",
               LinkToLastPageFormat = ">>"
           })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <a href="" class="btn btn-primary" id="sendmail"><span class="glyphicon glyphicon-envelope"></span> Отправить письмо</a>
            <button type="submit" id="update" name="update" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> Подтверждение дефекта</button>
            <a href="#Modal1" class="btn btn-info" id="notification" data-toggle="modal"><span class="glyphicon glyphicon-exclamation-sign"></span> Отправить оповещение</a>
        </div>
    </div>
</body>
